@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-VariableFont_slnt\wght.ttf);
}

:root {
  --color-primary: #c5f82a;
  --color-white: #ffffff;
  --color-grey: #333333;
  --color-dark-grey: #1f1f1f;
  --color-off-black: #141414;
}

/*RESETS STYLES*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", "Segoe ui", Arial;
  background-color: var(--color-off-black);
}

ul {
  list-style: none;
}

h1,
p {
  color: var(--color-white);
}

a {
  text-decoration: none;
}

/*VISUAL STYLES*/

main {
  max-width: 384px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--color-dark-grey);
  padding: 40px;
  border-radius: 14px;
  text-align: center;
  width: 100%;
}

.card .profile-photo {
  display: inline-block;
  border-radius: 50%;
  width: 84px;
  aspect-ratio: 1/1;
  margin-bottom: 24px;
}

.card .card-heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.card .card-subheading {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 24px;
  color: var(--color-primary);
}

.bio {
  font-size: 14px;
  color: var(--color-white);
  margin-bottom: 24px;
  font-weight: 400;
}

.link-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link-group li a {
  font-size: 14px;
  display: inline-block;
  width: 100%;
  border-radius: 7px;
  padding: 12px 10px;
  background-color: var(--color-grey);
  color: var(--color-white);
  font-weight: 600;
  transition: all 300ms ease-out;
}

.link-group li a:hover,
.link-group li a:focus {
  background-color: var(--color-primary);
  color: var(--color-dark-grey);
}

/*ADDING PADDING FOR THE BODY IN MOBILE*/

@media (max-width: 400px) {
  body {
    margin: 2rem;
  }
}
